/*!
 * @package			extension
 * @version			1.0.0
 * @category		css.global
 * @author			Kitsune Solar
 * @copyright		METADATA Foundation
  */

/* ------------------------------------------------------------------------------------------------------------------ */
/* ----------------------------------------------------< SCRIPT >---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */

/**
 * Extension: Echo.
 * ------------------------------------------------------------------------------------------------------------------ */

div.oo-ui-popupWidget-popup {
  //box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

#pt-notifications-alert,
#pt-notifications-message {
  a.mw-echo-notifications-badge {
    font-size: inherit;
  }
}

/**
 * Extension: VoteNY.
 * ------------------------------------------------------------------------------------------------------------------ */

.mw-rating {
  font-family: $global-font-family;
  height: 3em;
  overflow: hidden;

  .rating-score {
    display: inline-block;
    float: none;
    font-size: 10pt;
    border-radius: .4em;
  }

  .rating-section {
    display: inline-block;
    position: relative;

    .rating-total {
    }

    .rating-voted {
    }

    .vote-remove-stars-link {
      font-size: 11px;
    }
  }
}

/**
 * Extension: CharInsert.
 * ------------------------------------------------------------------------------------------------------------------ */

#mw-edittools-charinsert {
  padding: .5em;
  border: 1px solid hsl(0, 0%, 86%);
  background: #f0f0f0;
  font-size: .9em;

  a {
    display: inline-block;
    white-space: nowrap;
  }

  .mw-charinsert-header {
    font-weight: bold;
  }
}

/**
 * Extension: ShortUrl.
 * ------------------------------------------------------------------------------------------------------------------ */

#t-shorturl {
  a {
    color: #f00 !important;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.title-shortlink-container {
  display: none;
  float: right;

  a {
    display: inline-block;
  }
}

/**
 * Extension: SyntaxHighlight.
 * ------------------------------------------------------------------------------------------------------------------ */

div.mw-highlight {
  $background_color: hsl(0, 0%, 96%);
  $border_color: hsl(0, 0%, 86%);
  background: $background_color;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
  border: 1px solid $border_color;
  max-height: 20rem;
  margin: 1em 0;
  overflow: auto;

  pre {
    background: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    overflow: unset;

    span.lineno {
      border-right: 3px solid $border_color;
      color: hsl(0, 0%, 71%);
      margin-right: 1rem;
    }
  }
}