/*!
 * @package			variables
 * @version			1.0.0
 * @category		css.global
 * @author			Kitsune Solar
 * @copyright		METADATA Foundation
  */

/* ------------------------------------------------------------------------------------------------------------------ */
/* ----------------------------------------------------< SCRIPT >---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */

$font-family-sans: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-family-serif: 'Georgia', 'Times New Roman', 'Times', serif;
$font-family-mono: 'Fira Code', 'Fira Mono', monospace;
$font-family-condensed: 'Roboto Condensed', sans-serif;

$global-font-family: $font-family-sans;
$header-font-family: $font-family-condensed;
$header-font-weight: 400;
$content-font-family: $global-font-family;
$content-font-size: inherit;
$editor-font-family: $font-family-mono;
