/*!
 * @package			widget
 * @version			1.0.0
 * @category		css.global
 * @author			z17 Dev
 * @copyright		METADATA Foundation
  */

/* ------------------------------------------------------------------------------------------------------------------ */
/* ----------------------------------------------------< SCRIPT >---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */

/**
 * Widget: DISQUS.
 * ------------------------------------------------------------------------------------------------------------------ */

#disqus_thread {
  display: block;
}
